$tablet-width: 480px;
$desktop-width: 768px;
$columnNo: 12;
$gutter: 20px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

* {
	box-sizing: border-box;
	margin: 0;

}

.container {
	width: 100%;
	max-width: 1366px;
	font-family: 'Lato', sans-serif;
}

.row:before,
.row:after {
	content: '';
	clear: both;
	display: block;
}

[class*=col-]{
	float: left;
	padding: 0 $gutter;
	min-height: 1px;

	&.collapsed {
		padding: 0;
	}
}

@for $i from 1 through $columnNo {
	.col-sm-#{$i} {
		width: 100/$columnNo * $i + %;
	}
}

@include tablet {
	@for $i from 1 through $columnNo {
		.col-md-#{$i} {
			width: 100/$columnNo * $i + %;
		}
	}
}

@include desktop {
	@for $i from 1 through $columnNo {
		.col-lg-#{$i} {
			width: 100/$columnNo * $i + %;
		}
	}
}
