$size: 30px;

.burgerMenu {
  position: relative;
  z-index: 200;
  width: $size;
  height: $size/1.333;
  margin: 30px 0 0 85%;

  cursor: pointer;
  transition: .5s ease-in-out;
  transform: rotate(0deg);

  @media(min-width: 768px){
    display: none;
  }
}


.burgerMenu span {
  position: absolute;
  left: 0;

  display: block;

  width: 100%;
  height: $size/6.666;

  transition: .25s ease-in-out;
  transform: rotate(0deg);

  border-radius: 2px;
  background: black;

  &:nth-child(1) {
    top: 0px;

    transform-origin: left center;
  }

  &:nth-child(2) {
    top:$size/3.333;

    transform-origin: left center;
  }
  &:nth-child(3) {
    top:$size/1.666;

    transform-origin: left center;
  }

}

.burgerMenu.rwd span{

  &:nth-child(1) {
  top: $size/-20;
  left:$size/7.5;

  transform: rotate(45deg);
}

  &:nth-child(2) {
  width: 0%;
  opacity: 0;
}

  &:nth-child(3) {
  top: $size/1.538;
  left: $size/7.5;

  transform: rotate(-45deg);
}
}
